<!--begin about-->
<section id="about" class="about" style="background-image: url('img/bg_about.jpg')">
    <div class="container">
        <div class="about__title about_title s_title">
            <h2 class="title">Who the site is for and how to join</h2>
        </div>
        <div class="about__text about_text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempor neque a ante vestibulum suscipit. Proin vel sapien sem. Aliquam bibendum, eros in commodo tincidunt, ligula enim laoreet urna, in pulvinar mauris odio eu ex. Phasellus molestie, arcu eu tristique fringilla, eros turpis feugiat massa, ac aliquam ex nunc ut libero. Integer ac maximus erat, ut accumsan quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
        </div>
        <div class="about__btn about_btn">
            <a class="btn_blue" href="#/">
                Join now
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>
</section>
<!--end about-->
<!--begin how-->
<section class="how">
    <div class="container">
        <div class="how__title s_title">
            <h2 class="title">How it works ?</h2>
        </div>
        <div class="how__wrapper how_wrap">
            <!--begin how item-->
            <div class="how_wrap__item how_item">
                <div class="how_item__img">
                    <img src="img/img_how_01.jpg" alt="How image">
                </div>
                <div class="how_item__about how_about">
                    <div class="how_about__number">
                        01
                    </div>
                    <div class="how_about__title">
                        <h3 class="title">Select a Provider</h3>
                    </div>
                    <div class="how_about__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sem vel felis consectetur fermentum a eget metus. Vivamus blandit nibh turpis, quis suscipit sapien suscipit at.</p>
                    </div>
                    <div class="how_about__btn">
                        <a class="btn_white" href="#/">
                            Learn More
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--end how item-->
            <!--begin how item-->
            <div class="how_wrap__item how_item">
                <div class="how_item__img">
                    <img src="img/img_how_02.jpg" alt="How image">
                </div>
                <div class="how_item__about how_about">
                    <div class="how_about__number">
                        02
                    </div>
                    <div class="how_about__title">
                        <h3 class="title">Book a time</h3>
                    </div>
                    <div class="how_about__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sem vel felis consectetur fermentum a eget metus. Vivamus blandit nibh turpis, quis suscipit sapien suscipit at.</p>
                    </div>
                    <div class="how_about__btn">
                        <a class="btn_white" href="#/">
                            Learn More
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--end how item-->
            <!--begin how item-->
            <div class="how_wrap__item how_item">
                <div class="how_item__img">
                    <img src="img/img_how_03.jpg" alt="How image">
                </div>
                <div class="how_item__about how_about">
                    <div class="how_about__number">
                        03
                    </div>
                    <div class="how_about__title">
                        <h3 class="title">Connect</h3>
                    </div>
                    <div class="how_about__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sem vel felis consectetur fermentum a eget metus. Vivamus blandit nibh turpis, quis suscipit sapien suscipit at.</p>
                    </div>
                    <div class="how_about__btn">
                        <a class="btn_white" href="#/">
                            Learn More
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--end how item-->
        </div>
    </div>
</section>
<!--end how-->
<!--begin why-->
<section class="why" style="background-image: url('img/bg_about.jpg')">
    <div class="container">
        <div class="why__title s_title">
            <h2 class="title">Why Intro Lab ?</h2>
        </div>
        <div class="why__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sem vel felis consectetur fermentum</p>
        </div>
        <div class="why__wrapper why_wrap">
            <!--begin why item-->
            <div class="why_wrap__item why_item">
                <div class="why_item__icon">
                    <img src="img/icon_why_01.svg" alt="Network">
                </div>
                <div class="why_item__title">
                    <h4 class="title">Choose your network</h4>
                </div>
                <div class="why_item__text">
                    <p>With the development of a digital application you stand for many choices. </p>
                </div>
                <div class="why_item__btn">
                    <a class="btn_white" href="#/">
                        Learn More
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <!--end why item-->
            <!--begin why item-->
            <div class="why_wrap__item why_item">
                <div class="why_item__icon">
                    <img src="img/icon_why_02.svg" alt="Advantage">
                </div>
                <div class="why_item__title">
                    <h4 class="title">Headstart Advantage</h4>
                </div>
                <div class="why_item__text">
                    <p>With the development of a digital application you stand for many choices. </p>
                </div>
                <div class="why_item__btn">
                    <a class="btn_white" href="#/">
                        Learn More
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <!--end why item-->
            <!--begin why item-->
            <div class="why_wrap__item why_item">
                <div class="why_item__icon">
                    <img src="img/icon_why_03.svg" alt="Expert">
                </div>
                <div class="why_item__title">
                    <h4 class="title">Connect with first-hand Industry Expert</h4>
                </div>
                <div class="why_item__text">
                    <p>With the development of a digital application you stand for many choices. </p>
                </div>
                <div class="why_item__btn">
                    <a class="btn_white" href="#/">
                        Learn More
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <!--end why item-->
        </div>
    </div>
</section>
<!--end why-->
<!--begin featured-->
<section class="featured" style="background-image: url('img/bg_featured.jpg')">
    <div class="container">
        <div class="featured__title s_title">
            <h2 class="title">Featured providers</h2>
        </div>
        <div class="featured__wrapper featured_wrap">
            <!--begin featured item-->
            <div class="featured_wrap__item featured_item">
                <div class="featured_item__icon">
                    <img src="img/icon_user.svg" alt="User">
                </div>
                <div class="featured_item__name">
                    Jhone Luneo
                </div>
                <div class="featured_item__company">
                    Intro Lab industry
                </div>
                <div class="featured_item__text">
                    <p>Ut faucibus mi a nunc cursus, a rutrum odio blandit.</p>
                </div>
                <div class="featured_item__img">
                    <img src="img/img_featured_1.jpg" alt="Featured">
                </div>
            </div>
            <!--end featured item-->
            <!--begin featured item-->
            <div class="featured_wrap__item featured_item">
                <div class="featured_item__icon">
                    <img src="img/icon_user.svg" alt="User">
                </div>
                <div class="featured_item__name">
                    Jhone Luneo
                </div>
                <div class="featured_item__company">
                    Intro Lab industry
                </div>
                <div class="featured_item__text">
                    <p>Ut faucibus mi a nunc cursus, a rutrum odio blandit.</p>
                </div>
                <div class="featured_item__img">
                    <img src="img/img_featured_2.jpg" alt="Featured">
                </div>
            </div>
            <!--end featured item-->
            <!--begin featured item-->
            <div class="featured_wrap__item featured_item">
                <div class="featured_item__icon">
                    <img src="img/icon_user.svg" alt="User">
                </div>
                <div class="featured_item__name">
                    Jhone Luneo
                </div>
                <div class="featured_item__company">
                    Intro Lab industry
                </div>
                <div class="featured_item__text">
                    <p>Ut faucibus mi a nunc cursus, a rutrum odio blandit.</p>
                </div>
                <div class="featured_item__img">
                    <img src="img/img_featured_3.jpg" alt="Featured">
                </div>
            </div>
            <!--end featured item-->
            <!--begin featured item-->
            <div class="featured_wrap__item featured_item">
                <div class="featured_item__icon">
                    <img src="img/icon_user.svg" alt="User">
                </div>
                <div class="featured_item__name">
                    Jhone Luneo
                </div>
                <div class="featured_item__company">
                    Intro Lab industry
                </div>
                <div class="featured_item__text">
                    <p>Ut faucibus mi a nunc cursus, a rutrum odio blandit.</p>
                </div>
                <div class="featured_item__img">
                    <img src="img/img_featured_4.jpg" alt="Featured">
                </div>
            </div>
            <!--end featured item-->
        </div>
        <div class="featured__btn featured_btn">
            <a class="btn_white" href="#/">
                More Providers
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>
</section>
<!--end featured-->
<!--begin testimonials-->
<section class="testimonials">
    <div class="container">
        <div class="testimonials__title s_title">
            <h2 class="title">Testimonials</h2>
        </div>

        <!--<div class="swiper-container two">-->
            <!--<div class="swiper-wrapper">-->
                <!--<div class="swiper-slide testimonials__item testimonials_item">-->
                    <!--<div class="testimonials_item__img">-->
                        <!--<img src="img/avatar_1.jpg" alt="avatar">-->
                    <!--</div>-->
                    <!--<div class="testimonials_item__name">-->
                        <!--<h3 class="title">Lumio Deney</h3>-->
                    <!--</div>-->
                    <!--<div class="testimonials_item__text">-->
                        <!--<p>“ Pellentesque consectetur lacus ac orci luctus, eget sodales quam efficitur. In eget scelerisque-->
                            <!--massa. Sed congue ante et placerat egestas. Maecenas volutpat placerat magna vitae malesuada. Sed sapien nibh, fringilla et quam nec, pellentesque volutpat dolor.”-->
                            <!--Curabitur finibus pretium dolor, et dignissim mauris pretium quis. In non porttitor sem. ”</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="swiper-slide testimonials__item testimonials_item">-->
                    <!--<div class="testimonials_item__img">-->
                        <!--<img src="img/avatar_1.jpg" alt="avatar">-->
                    <!--</div>-->
                    <!--<div class="testimonials_item__name">-->
                        <!--<h3 class="title">Lumio Deney 2</h3>-->
                    <!--</div>-->
                    <!--<div class="testimonials_item__text">-->
                        <!--<p>“ Pellentesque consectetur lacus ac orci luctus, eget sodales quam efficitur. In eget scelerisque-->
                            <!--massa. Sed congue ante et placerat egestas. Maecenas volutpat placerat magna vitae malesuada. Sed sapien nibh, fringilla et quam nec, pellentesque volutpat dolor.”-->
                            <!--Curabitur finibus pretium dolor, et dignissim mauris pretium quis. In non porttitor sem. ”</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="swiper-slide testimonials__item testimonials_item">-->
                    <!--<div class="testimonials_item__img">-->
                        <!--<img src="img/avatar_1.jpg" alt="avatar">-->
                    <!--</div>-->
                    <!--<div class="testimonials_item__name">-->
                        <!--<h3 class="title">Lumio Deney 3</h3>-->
                    <!--</div>-->
                    <!--<div class="testimonials_item__text">-->
                        <!--<p>“ Pellentesque consectetur lacus ac orci luctus, eget sodales quam efficitur. In eget scelerisque-->
                            <!--massa. Sed congue ante et placerat egestas. Maecenas volutpat placerat magna vitae malesuada. Sed sapien nibh, fringilla et quam nec, pellentesque volutpat dolor.”-->
                            <!--Curabitur finibus pretium dolor, et dignissim mauris pretium quis. In non porttitor sem. ”</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="swiper-slide testimonials__item testimonials_item">-->
                    <!--<div class="testimonials_item__img">-->
                        <!--<img src="img/avatar_1.jpg" alt="avatar">-->
                    <!--</div>-->
                    <!--<div class="testimonials_item__name">-->
                        <!--<h3 class="title">Lumio Deney 4</h3>-->
                    <!--</div>-->
                    <!--<div class="testimonials_item__text">-->
                        <!--<p>“ Pellentesque consectetur lacus ac orci luctus, eget sodales quam efficitur. In eget scelerisque-->
                            <!--massa. Sed congue ante et placerat egestas. Maecenas volutpat placerat magna vitae malesuada. Sed sapien nibh, fringilla et quam nec, pellentesque volutpat dolor.”-->
                            <!--Curabitur finibus pretium dolor, et dignissim mauris pretium quis. In non porttitor sem. ”</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="swiper-slide testimonials__item testimonials_item">-->
                    <!--<div class="testimonials_item__img">-->
                        <!--<img src="img/avatar_1.jpg" alt="avatar">-->
                    <!--</div>-->
                    <!--<div class="testimonials_item__name">-->
                        <!--<h3 class="title">Lumio Deney 5</h3>-->
                    <!--</div>-->
                    <!--<div class="testimonials_item__text">-->
                        <!--<p>“ Pellentesque consectetur lacus ac orci luctus, eget sodales quam efficitur. In eget scelerisque-->
                            <!--massa. Sed congue ante et placerat egestas. Maecenas volutpat placerat magna vitae malesuada. Sed sapien nibh, fringilla et quam nec, pellentesque volutpat dolor.”-->
                            <!--Curabitur finibus pretium dolor, et dignissim mauris pretium quis. In non porttitor sem. ”</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Add Arrows &ndash;&gt;-->
            <!--<div class="swiper-button-next"></div>-->
            <!--<div class="swiper-button-prev"></div>-->
        <!--</div>-->



        <div class="demo-wrapper">
            <article class="example">
                <section class="bee3D--slide">
                    <div class="bee3D--inner">

                        <div class="demo-text testimonials__item testimonials_item">
                            <div class="testimonials_item__img">
                                <img src="img/avatar_1.jpg" alt="avatar">
                            </div>
                            <div class="testimonials_item__name">
                                <h3 class="title">Lumio Deney 1</h3>
                            </div>
                            <div class="testimonials_item__text">
                                <p>“ Pellentesque consectetur lacus ac orci luctus, eget sodales quam efficitur. In eget scelerisque
                                    massa. Sed congue ante et placerat egestas. Maecenas volutpat placerat magna vitae malesuada. Sed sapien nibh, fringilla et quam nec, pellentesque volutpat dolor.”
                                    Curabitur finibus pretium dolor, et dignissim mauris pretium quis. In non porttitor sem. ”</p>
                            </div>
                        </div>

                    </div>
                </section>
                <section class="bee3D--slide">
                    <div class="bee3D--inner">
                        <div class="demo-text testimonials__item testimonials_item">
                            <div class="testimonials_item__img">
                                <img src="img/avatar_1.jpg" alt="avatar">
                            </div>
                            <div class="testimonials_item__name">
                                <h3 class="title">Lumio Deney 2</h3>
                            </div>
                            <div class="testimonials_item__text">
                                <p>“ Pellentesque consectetur lacus ac orci luctus, eget sodales quam efficitur. In eget scelerisque
                                    massa. Sed congue ante et placerat egestas. Maecenas volutpat placerat magna vitae malesuada. Sed sapien nibh, fringilla et quam nec, pellentesque volutpat dolor.”
                                    Curabitur finibus pretium dolor, et dignissim mauris pretium quis. In non porttitor sem. ”</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bee3D--slide">
                    <div class="bee3D--inner">
                        <div class="demo-text testimonials__item testimonials_item">
                            <div class="testimonials_item__img">
                                <img src="img/avatar_1.jpg" alt="avatar">
                            </div>
                            <div class="testimonials_item__name">
                                <h3 class="title">Lumio Deney 3</h3>
                            </div>
                            <div class="testimonials_item__text">
                                <p>“ Pellentesque consectetur lacus ac orci luctus, eget sodales quam efficitur. In eget scelerisque
                                    massa. Sed congue ante et placerat egestas. Maecenas volutpat placerat magna vitae malesuada. Sed sapien nibh, fringilla et quam nec, pellentesque volutpat dolor.”
                                    Curabitur finibus pretium dolor, et dignissim mauris pretium quis. In non porttitor sem. ”</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bee3D--slide">
                    <div class="bee3D--inner">
                        <div class="demo-text testimonials__item testimonials_item">
                            <div class="testimonials_item__img">
                                <img src="img/avatar_1.jpg" alt="avatar">
                            </div>
                            <div class="testimonials_item__name">
                                <h3 class="title">Lumio Deney 4</h3>
                            </div>
                            <div class="testimonials_item__text">
                                <p>“ Pellentesque consectetur lacus ac orci luctus, eget sodales quam efficitur. In eget scelerisque
                                    massa. Sed congue ante et placerat egestas. Maecenas volutpat placerat magna vitae malesuada. Sed sapien nibh, fringilla et quam nec, pellentesque volutpat dolor.”
                                    Curabitur finibus pretium dolor, et dignissim mauris pretium quis. In non porttitor sem. ”</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bee3D--slide">
                    <div class="bee3D--inner">
                        <div class="demo-text testimonials__item testimonials_item">
                            <div class="testimonials_item__img">
                                <img src="img/avatar_1.jpg" alt="avatar">
                            </div>
                            <div class="testimonials_item__name">
                                <h3 class="title">Lumio Deney 5</h3>
                            </div>
                            <div class="testimonials_item__text">
                                <p>“ Pellentesque consectetur lacus ac orci luctus, eget sodales quam efficitur. In eget scelerisque
                                    massa. Sed congue ante et placerat egestas. Maecenas volutpat placerat magna vitae malesuada. Sed sapien nibh, fringilla et quam nec, pellentesque volutpat dolor.”
                                    Curabitur finibus pretium dolor, et dignissim mauris pretium quis. In non porttitor sem. ”</p>
                            </div>
                        </div>
                    </div>
                </section>


                <!-- Navigation Arrows -->
                <span class="bee3D--nav bee3D--nav__prev"><img src="img/arrow_right.svg" alt="Arrow"></span>
                <span class="bee3D--nav bee3D--nav__next"><img src="img/arrow_right.svg" alt="Arrow"></span>

            </article>
        </div>

    </div>
</section>
<!--end testimonials-->