<!--begin filter_top-->
<section class="filter_top">
    <div class="container">
       <div class="filter_top__wrapper">
           <div class="filter_top__info">
               <h1 class="title">
                   Search the consultants
               </h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <form>
                   <input type="search" placeholder="Search by keyword">
                   <input type="submit" value="">
               </form>
           </div>
           <div class="filter_top__img">
               <img src="img/img_filter.png" alt="Filter top">
           </div>
       </div>
    </div>
</section>
<!--end filter_top-->
<!--begin search-->
<section class="filter_search" style="background-image: url('img/bg_search.png')">
    <div class="container">
        <div class="filter_search__form filter_form">
            <form>
                <div class="filter_form__item">
                    <label class="label_full" for="industry">
                        Industry
                        <select name="industry" id="industry">
                            <option value="">Choose from list</option>
                            <option value="">first</option>
                            <option value="">second</option>
                            <option value="">third</option>
                        </select>
                    </label>
                    <label class="label_full" for="location">
                        Location
                        <select name="location" id="location">
                            <option value="">Choose from list</option>
                            <option value="">first</option>
                            <option value="">second</option>
                            <option value="">third</option>
                        </select>
                    </label>
                    <label class="label_half" for="rating">
                        Rating
                        <select name="rating" id="rating">
                            <option value="">---</option>
                            <option value="">first</option>
                            <option value="">second</option>
                            <option value="">third</option>
                        </select>
                    </label>
                    <label class="label_half" for="experience">
                        Experience:
                        <select name="experience" id="experience">
                            <option value="">---</option>
                            <option value="">first</option>
                            <option value="">second</option>
                            <option value="">third</option>
                        </select>
                    </label>
                    <label class="label_full" for="language">
                        Language:
                        <select name="language" id="language">
                            <option value="">---</option>
                            <option value="">first</option>
                            <option value="">second</option>
                            <option value="">third</option>
                        </select>
                    </label>
                </div>
                <div class="filter_form__item">
                    <label>
                        <input type="submit" value="Search">
                    </label>
                    <label>
                        <button>
                            <img src="img/icon_clear.svg" alt="Clear">
                            Clear search parameters
                        </button>
                    </label>
                </div>
            </form>
        </div>
    </div>
</section>
<!--end search-->
<!--begin search result-->
<section class="search_result">
    <div class="container">
        <div class="search_result__title">
            <h2 class="title">Search result: <span>24</span></h2>
        </div>
        <div class="search_result__list search_result_list">
            <!--begin result item-->
            <div class="search_result_list__item result_item">
                <div class="result_item__avatar">
                    <img src="img/avatar_1.png" alt="Avatar">
                </div>
                <div class="result_item__info result_info">
                    <div class="result_info__top result_top">
                        <div class="result_top__name">
                            <p>John Robinson</p>
                        </div>
                        <div class="result_top__logo">
                            <p>CompanyName Corp</p>
                            <img src="img/logo_logotype.png" alt="Logo">
                        </div>
                    </div>
                    <div class="result_item__center result_center">
                        <div class="result_center__item result_position">
                            <p>Senior Developer</p>
                        </div>
                        <div class="result_center__item result_skills">
                            <p>PHP, Python, Wordpress</p>
                        </div>
                       <div class="result_center__item result_exp">
                           <p>6 years of experience</p>
                       </div>
                    </div>
                    <div class="result_item__bottom result_bottom">
                        <div class="result_bottom__location">
                            <img src="img/icon_location.svg" alt="Location">
                            <p>San Francisco, CA</p>
                        </div>
                        <div class="result_bottom__lang">
                            <p>Language:</p>
                            <img src="img/flag_usa.png" alt="USA">
                            <img src="img/flag_german.png" alt="German">
                        </div>
                    </div>
                </div>
            </div>
            <!--end result item-->
            <!--begin result item-->
            <div class="search_result_list__item result_item">
                <div class="result_item__avatar">
                    <img src="img/avatar_2.png" alt="Avatar">
                </div>
                <div class="result_item__info result_info">
                    <div class="result_info__top result_top">
                        <div class="result_top__name">
                            <p>Rebecca Van Buuren</p>
                        </div>
                        <div class="result_top__logo">
                            <p>CompanyName Corp</p>
                            <img src="img/logo_company.png" alt="Logo">
                        </div>
                    </div>
                    <div class="result_item__center result_center">
                        <div class="result_center__item result_position">
                            <p>Senior Developer</p>
                        </div>
                        <div class="result_center__item result_skills">
                            <p>PHP, Python, Wordpress</p>
                        </div>
                        <div class="result_center__item result_exp">
                            <p>6 years of experience</p>
                        </div>
                    </div>
                    <div class="result_item__bottom result_bottom">
                        <div class="result_bottom__location">
                            <img src="img/icon_location.svg" alt="Location">
                            <p>San Francisco, CA</p>
                        </div>
                        <div class="result_bottom__lang">
                            <p>Language:</p>
                            <img src="img/flag_usa.png" alt="USA">
                            <img src="img/flag_german.png" alt="German">
                        </div>
                    </div>
                </div>
            </div>
            <!--end result item-->
            <!--begin result item-->
            <div class="search_result_list__item result_item">
                <div class="result_item__avatar">
                    <img src="img/avatar_3.png" alt="Avatar">
                </div>
                <div class="result_item__info result_info">
                    <div class="result_info__top result_top">
                        <div class="result_top__name">
                            <p>Alexander Julliani</p>
                        </div>
                        <div class="result_top__logo">
                            <p>CompanyName Corp</p>
                            <img src="img/logo_company_2.png" alt="Logo">
                        </div>
                    </div>
                    <div class="result_item__center result_center">
                        <div class="result_center__item result_position">
                            <p>Senior Developer</p>
                        </div>
                        <div class="result_center__item result_skills">
                            <p>PHP, Python, Wordpress</p>
                        </div>
                        <div class="result_center__item result_exp">
                            <p>6 years of experience</p>
                        </div>
                    </div>
                    <div class="result_item__bottom result_bottom">
                        <div class="result_bottom__location">
                            <img src="img/icon_location.svg" alt="Location">
                            <p>San Francisco, CA</p>
                        </div>
                        <div class="result_bottom__lang">
                            <p>Language:</p>
                            <img src="img/flag_usa.png" alt="USA">
                            <img src="img/flag_german.png" alt="German">
                        </div>
                    </div>
                </div>
            </div>
            <!--end result item-->
            <!--begin result item-->
            <div class="search_result_list__item result_item">
                <div class="result_item__avatar">
                    <img src="img/avatar_1.png" alt="Avatar">
                </div>
                <div class="result_item__info result_info">
                    <div class="result_info__top result_top">
                        <div class="result_top__name">
                            <p>John Robinson</p>
                        </div>
                        <div class="result_top__logo">
                            <p>CompanyName Corp</p>
                            <img src="img/logo_logotype.png" alt="Logo">
                        </div>
                    </div>
                    <div class="result_item__center result_center">
                        <div class="result_center__item result_position">
                            <p>Senior Developer</p>
                        </div>
                        <div class="result_center__item result_skills">
                            <p>PHP, Python, Wordpress</p>
                        </div>
                        <div class="result_center__item result_exp">
                            <p>6 years of experience</p>
                        </div>
                    </div>
                    <div class="result_item__bottom result_bottom">
                        <div class="result_bottom__location">
                            <img src="img/icon_location.svg" alt="Location">
                            <p>San Francisco, CA</p>
                        </div>
                        <div class="result_bottom__lang">
                            <p>Language:</p>
                            <img src="img/flag_usa.png" alt="USA">
                            <img src="img/flag_german.png" alt="German">
                        </div>
                    </div>
                </div>
            </div>
            <!--end result item-->
            <!--begin result item-->
            <div class="search_result_list__item result_item">
                <div class="result_item__avatar">
                    <img src="img/avatar_2.png" alt="Avatar">
                </div>
                <div class="result_item__info result_info">
                    <div class="result_info__top result_top">
                        <div class="result_top__name">
                            <p>Rebecca Van Buuren</p>
                        </div>
                        <div class="result_top__logo">
                            <p>CompanyName Corp</p>
                            <img src="img/logo_company.png" alt="Logo">
                        </div>
                    </div>
                    <div class="result_item__center result_center">
                        <div class="result_center__item result_position">
                            <p>Senior Developer</p>
                        </div>
                        <div class="result_center__item result_skills">
                            <p>PHP, Python, Wordpress</p>
                        </div>
                        <div class="result_center__item result_exp">
                            <p>6 years of experience</p>
                        </div>
                    </div>
                    <div class="result_item__bottom result_bottom">
                        <div class="result_bottom__location">
                            <img src="img/icon_location.svg" alt="Location">
                            <p>San Francisco, CA</p>
                        </div>
                        <div class="result_bottom__lang">
                            <p>Language:</p>
                            <img src="img/flag_usa.png" alt="USA">
                            <img src="img/flag_german.png" alt="German">
                        </div>
                    </div>
                </div>
            </div>
            <!--end result item-->
            <!--begin result item-->
            <div class="search_result_list__item result_item">
                <div class="result_item__avatar">
                    <img src="img/avatar_3.png" alt="Avatar">
                </div>
                <div class="result_item__info result_info">
                    <div class="result_info__top result_top">
                        <div class="result_top__name">
                            <p>Alexander Julliani</p>
                        </div>
                        <div class="result_top__logo">
                            <p>CompanyName Corp</p>
                            <img src="img/logo_company_2.png" alt="Logo">
                        </div>
                    </div>
                    <div class="result_item__center result_center">
                        <div class="result_center__item result_position">
                            <p>Senior Developer</p>
                        </div>
                        <div class="result_center__item result_skills">
                            <p>PHP, Python, Wordpress</p>
                        </div>
                        <div class="result_center__item result_exp">
                            <p>6 years of experience</p>
                        </div>
                    </div>
                    <div class="result_item__bottom result_bottom">
                        <div class="result_bottom__location">
                            <img src="img/icon_location.svg" alt="Location">
                            <p>San Francisco, CA</p>
                        </div>
                        <div class="result_bottom__lang">
                            <p>Language:</p>
                            <img src="img/flag_usa.png" alt="USA">
                            <img src="img/flag_german.png" alt="German">
                        </div>
                    </div>
                </div>
            </div>
            <!--end result item-->
        </div>
        <div class="search_result__pagination pagination">
            <div class="pagination__wrapper">
                <a href="#/">1</a>
                <a href="#/">2</a>
                <a href="#/">3</a>
            </div>
        </div>
    </div>
</section>
<!--end search result-->