<!--begin footer profile-->
<footer class="profile_footer">
    <div class="container">
        <div class="profile_footer__nav">
            <ul>
                <li>
                    <a href="#/">Company</a>
                </li>
                <li>
                    <a href="#/">Partnerships</a>
                </li>
                <li>
                    <a href="#/">Investors</a>
                </li>
                <li>
                    <a href="#/">Careers</a>
                </li>
                <li>
                    <a href="#/">Blog</a>
                </li>
            </ul>
            <div class="copyright">
                <p>© 2018 Intro Lab</p>
            </div>
        </div>
        <div class="profile_footer__socials">
            <a href="#/"><i class="fab fa-facebook-f"></i></a>
            <a href="#/"><i class="fab fa-twitter"></i></a>
            <a href="#/"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</footer>
<!--end footer profile-->