<!--begin footer-->
<footer class="footer" style="background-image: url('img/bg_footer.svg')">
    <div class="container">
        <div class="footer__join footer_join">
            <div class="footer_join__title">
                <h2 class="title">Who the site is for and how to join!</h2>
            </div>
            <div class="footer_join__btn">
                <a class="btn_blue" href="#/">Join Now !</a>
            </div>
        </div>
        <div class="footer__nav footer_nav">
            <!--begin footer item-->
            <div class="footer_nav__item footer_item">
                <div class="footer_item__title">
                    <h4 class="title">Solutions</h4>
                </div>
                <ul>
                    <li><a href="#/">Red team Operations</a></li>
                    <li><a href="#/">Professional Services</a></li>
                    <li><a href="#/">Defence Operation</a></li>
                    <li><a href="#/">Beyond Support</a></li>
                </ul>
            </div>
            <!--end footer item-->
            <!--begin footer item-->
            <div class="footer_nav__item footer_item">
                <div class="footer_item__title">
                    <h4 class="title">About</h4>
                </div>
                <ul>
                    <li><a href="#/">Company</a></li>
                    <li><a href="#/">Partnerships</a></li>
                    <li><a href="#/">Investors</a></li>
                    <li><a href="#/">Careers</a></li>
                    <li><a href="#/">Blog</a></li>
                </ul>
            </div>
            <!--end footer item-->
            <!--begin footer item-->
            <div class="footer_nav__item footer_item">
                <div class="footer_item__title">
                    <h4 class="title">River Oakfield</h4>
                </div>
                <ul>
                    <li>
                        <a href="tel:310-666-3542">
                            <i class="fas fa-phone"></i>
                            310-666-3542
                        </a>
                    </li>
                    <li>
                        <a href="mailto:sales@Introlabcom">
                            <i class="far fa-envelope"></i>
                            sales@Introlabcom
                        </a>
                    </li>
                </ul>
            </div>
            <!--end footer item-->
            <!--begin footer item-->
            <div class="footer_nav__item footer_item">
                <div class="footer_item__socials socials">
                    <ul>
                        <li>
                            <a href="#/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#/"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#/"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer_item__links">
                    <ul>
                        <li>
                            <a href="#/">Terms of Use</a>
                        </li>
                        <li>
                            <a href="#/">Site map</a>
                        </li>
                    </ul>
                </div>
                <div class="footer_item__copyright">
                    <p>© 2018 Intro Lab</p>
                </div>
            </div>
            <!--end footer item-->
        </div>
    </div>
</footer>
<!--end footer-->

