<!--begin header-->
<header class="header header_simple">
    <div class="container">
        <div class="header__top header_top">
            <div class="header_top__logo logo">
                <a href="/"><img src="img/logo.png" alt="Logo"></a>
            </div>
            <div class="header_top__profile header_top_profile">
                <a href="#/" class="header_top_profile__person">
                    <div class="header_top_profile__avatar">
                        <img src="img/avatar_profile.png" alt="Avatar">
                    </div>
                    <div class="header_top_profile__name">
                        John Doe
                    </div>
                    <img src="img/icon_select.svg" alt="Select">
                </a>
                <a href="#/" class="header_top_profile__settings">
                    <img src="img/icon_settings.png" alt="Setting">
                </a>
            </div>
        </div>
    </div>
</header>
<!--end header-->
