<!--begin header-->
<header class="header" style="background-image: url('img/bg_header.svg')">
    <div class="container">
        <div class="header__top header_top">
            <div class="header_top__logo logo">
                <a href="/"><img src="img/logo.png" alt="Logo"></a>
            </div>
            <div class="header_top__nav nav">
                <ul>
                    <li>
                        <a href="#/">Log in</a>
                    </li>
                    <li>
                        <a href="#/">Sign up</a>
                    </li>
                </ul>
                <div class="nav__btn nav_btn">
                    <a class="btn_blue" href="#/">Become a Provider</a>
                </div>
                <div class="nav__lang lang">
                    <select placeholder="EN" name="sources" class="custom-select sources">
                        <option>En</option>
                        <option>Ua</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="header__info header_info">
            <div class="header_info__about header_about">
                <div class="header_about__title">
                    <h1 class="title">INTRO Lab</h1>
                </div>
                <div class="header_about__text">
                    <p>People who are trying to expand their professional network with industry professionals</p>
                </div>
                <div class="header_about__btn">
                    <a class="btn_blue" href="#/">
                        Join now
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="header_info__img header_img">
                <img src="img/img_header.png" alt="Header image">
            </div>
        </div>
        <div class="header__scroll header_scroll">
            <a href="#about">
                <img src="img/icon_scroll.svg" alt="Scroll">
                Scroll Down
            </a>
        </div>
    </div>
</header>
<!--end header-->
